<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Rock, Paper, Scissors</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>You and a friend should input "Rock, Paper, or Scissors.</h1>
    <form action="/roundPlayerOne" method="post">
     <label for="playerOneName">Player One's Name</label>
     <input id="playerOneName" name="playerOneName" type="text">
     <label for="playerTwoName">Player Two's Name</label>
     <input id="playerTwoName" name="playerTwoName" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>