<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Write a Break Up Song :(</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill out the form to chronicle your heartbreak!</h1>
    <form action="/breakUp" method="post">
     <label for="city">Enter a city</label>
     <input id="city" name="city" type="text">
     <label for="saying">Enter a saying</label>
     <input id="saying" name="saying" type="text">
     <label for="insult">Enter a insult</label>
     <input id="insult" name="insult" type="text">
     <label for="color">Enter a color</label>
     <input id="color" name="color" type="text">
     <label for="pastVerb">Enter a pastVerb</label>
     <input id="pastVerb" name="pastVerb" type="text">
     <label for="pastVerb2">Enter a pastVerb2</label>
     <input id="pastVerb2" name="pastVerb2" type="text">
     <label for="profanity">Enter a profanity</label>
     <input id="profanity" name="profanity" type="text">
     <label for="name">Enter a name</label>
     <input id="name" name="name" type="text">
     <label for="profession">Enter a profession</label>
     <input id="profession" name="profession" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>