<!DOCTYPE html>
<html>
  <head>
    <title>Your Break Up Song</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>We'll always have @Model.City</h1>
    <p>You remember how you always used to say @Model.Saying</p>
    <p>Well now, all I can say to you is you are the @Model.Insult</p>
    <p>Sorry, I didn't mean that.  I'm just feeling a little @Model.Color</p>
    <br>>
    <p>Remember in @Model.City</p>
    <p>When you @Model.PastVerb at the @Model.Profession</p>
    <p>And then we @Model.PastVerb2 together all night</p>
    <br>
    <p>Well now, @Model.Profanity your face</p>
    <p>Now I have moved on with @Model.Name</p>
    <p>And we @Model.PastVerb2 ALLLLL the time</p>
    <br>
    <p>Go @Model.Profanity yourself in @Model.City</p>
    </body>
</html>

