<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Day in Nounadelphia</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill out the form to see your MadLibs story!</h1>
    <form action="/Delphia" method="post">
     <label for="noun1">Enter a noun</label>
     <input id="noun1" name="noun1" type="text">
     <label for="noun2">Enter a noun</label>
     <input id="noun2" name="noun2" type="text">
     <label for="noun3">Enter a noun</label>
     <input id="noun3" name="noun3" type="text">
     <label for="noun4">Enter a noun</label>
     <input id="noun4" name="noun4" type="text">
     <label for="noun5">Enter a noun</label>
     <input id="noun5" name="noun5" type="text">
     <label for="noun6">Enter a noun</label>
     <input id="noun6" name="noun6" type="text">
     <label for="noun7">Enter a noun</label>
     <input id="noun7" name="noun7" type="text">
     <label for="noun8">Enter a noun</label>
     <input id="noun8" name="noun8" type="text">
     
     
     <label for="adjective1">Enter an adjective</label>
     <input id="adjective1" name="adjective1" type="text">
     <label for="adjective2">Enter an adjective</label>
     <input id="adjective2" name="adjective2" type="text">
     <label for="adjective3">Enter an adjective</label>
     <input id="adjective3" name="adjective3" type="text">


     <label for="pastverb">Enter a past-tense verb</label>
     <input id="pastverb" name="pastverb" type="text">
     <label for="ingverb">Enter an "-ing" verb</label>
     <input id="ingverb" name="ingverb" type="text">

     <button type="submit">Go!</button>
    </form>
  </body>
</html>